.formula {
    width: 80% !important;
}

.valor {
    width: 15% !important;
}

.simbolo {
    width: 45px !important;
    text-align: center !important;
}

body {
    background-image: url('../images/background/Auchindoun.jpg') !important;
    background-repeat: repeat !important;
}

body #tablas-verdad {
    background-image: url('../images/background/ultraxion2.jpg') !important;
    background-repeat: repeat !important;
}

body #calculadora-logica {
    background-image: url('../images/background/ultraxion1.jpg') !important;
    background-repeat: repeat !important;
}

body #conectores {
    background-image: url('../images/background/vacio2.jpg') !important;
    background-repeat: repeat !important;
}

body #acerca-de {
    background-image: url('../images/background/planeta3.jpg') !important;
    background-repeat: repeat !important;
}

h1, h2, h3, h4, h5, h6, p, span, label, a, th {
    color: #ffffff;
}

p {
    text-align: justify;
}

.text {
    color: #404040;
    font-weight: 300;
}

.tabla {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#page_breadcrumb {
    position: relative;
    height: 130px;
    background-position: center;
    display: table;
}

.sidebar h3 {
    color: white !important;
}

.categories .navbar-stacked li a {
    color: white !important;
}

.categories .navbar-stacked li.active a {
    color: #0099AE !important;
}

.margin-top {
    margin-top: 5%;
}